 <!-- description_area_start  -->
    <div class="">
        <h1 class="text-center"> Відділ експериментальних досліджень з віварієм</h1>
    </div>

    <p>
        Керівник відділу експериментальних дсліджень з віварієм -<br>
        <strong>Пругло Євген Сергійович</strong> д.фарм.н., доцент кафедри клінічної фармації фармакотерапії,
        фармакогнозії
        та фармацевтичної хімії.</p>
    <p>
        Тел. (067) 49-49-250,</p>
    <p>
        69035, м. Запоріжжя, вул. Сталеварів, 36А.</p>

    <strong><u>Фахівці відділу експериментальних дсліджень: </u></strong></p>
    <p>
        <strong><em><u>медичний напрямок</u></em></strong> <strong>-</strong><strong> </strong>тел. (066)
        805-43-35
        E-mail:&nbsp;pavel_bogdanov@ukr.net</p>
    <ul>
        <li>
            <strong>Богданов Павел Валерійович</strong>, к.мед.н., асистент кафедри анатомії людини, оперативної
            хірургії та
            топографічної анатомії</li>

    </ul>

    <strong><em><u>фармацевтичний напрямок</u></em></strong> - тел. (098) 423-21-64, E-mail:
    eomihayluk@gmail.com</p>
    <ul>
        <li>
            <strong>Міхайлюк</strong><strong> Євгеній Олегович - </strong>д.фарм.н., старший викладач кафедри
            клінічної
            фармації фармакотерапії, фармакогнозії та фармацевтичної хімії.</li>
    </ul>

    <strong><u>Віварій: </u></strong></p>
    <p>
        <strong><em><u>Завідувач віварію</u></em></strong> <strong>-</strong><strong> </strong>тел. (050)
        748-05-92
        E-mail:&nbsp;gavrilenko@ukr.net</p>
    <ul>
        <li>
            <strong>Гавриленко Сергій Іванович</strong>, лікар ветиринарної медицини</li>

    </ul>
    <strong><em><u>Робітники з догляду за тваринами</u></em></strong> </p>
    <ul>
        <li>
            <strong> Звягінцева Олена Володимирівна </strong>
        </li>
        <li>
            <strong> Чирко Ніна Олексіївна </strong></li>
        <li>
            <strong> Чирко Наталія Олександрівна </strong>
        </li>
        <li>
            <strong> Ольга Іванівна </strong>
        </li>

    </ul>
 <!-- description_area_end  -->