{% load static %}

<!-- footer start -->
<div class="container-fluid pt-5 bg-primary">
    <div class="row">
      <div class="col-sm-4 col-lg-4 col-md-12"><img class="img-fluid" src="../assets/img/logo_bot_uk.png" /></div>
      <div class="col-sm-8 col-lg-8 col-md-12 d-flex justify-content-center">
        <p>
          69035, м. Запоріжжя, проспект Маяковського, буд. 26,<br />
          учбово-лабораторний корпус 4а (вул. Сталеварів, 36 А).</p>
        <p>
      </div>
    </div>
    <div class="row">
      <div class="d-flex justify-content-center">
        <p>
          Увага! Використання матеріалів дозволяється тільки за умови посилання на сайт відділу експериментальних досліджень з віварієм ЗДМУ.
        </p>
      </div>
    </div>
  </div>